<%- include('partials/head'); -%>
<h1>Login Page</h1>


<form action="login" id="login_form" method="post">
    <input type="text" name="email" id="">
    <input type="password" name="password">
    <input type="submit" value="login"/>
</form>
<div id="status">

</div>
<script>
    var login_form = document.querySelector('form#login_form')
    login_form.addEventListener('submit',async (e)=>{
        e.preventDefault();
        var email = login_form.email.value;
        var password = login_form.password.value;
        console.log(email,password)
        const res = await fetch('login',{
                method: 'POST', 
                  body: JSON.stringify({email,password}),
                  headers: {'Content-Type': 'application/json'}
        })
        const data = await res.json()
        var status = document.getElementById('status')
        console.log(data)
        if(data.error)
        {
            status.innerText = data.error
        }
        else
        {
            status.innerText = "login successful redirecting . . ."
            window.location = "/";
        }
    })
</script>
<%- include('partials/footer'); -%>